.btn {
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
}

.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn-white:hover {
  background-color: #fff;
  color: #30788b;
}

.btn-filled {
  border-color: #30788b;
  background-color: #30788b;
  color: #fff;
}

.btn-filled:hover {
  background-color: transparent;
  color: #30788b;
}

.btn-getstarted {
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;

  padding: 20px 80px;
}

.btn-getstarted:hover {
  color: #fff;
  background-color: #276171;
  border-color: #276171;
}

.btn-getstarted:active {
  border: 1px solid #fff;
}

.btn-footer {
  font-family: "Lato", Arial, sans-serif;
  color: #9c9c9c;
  font-size: 18px;
}

.btn-footer:hover {
  color: #000;
}